.contact {
    max-width: 500px;
    margin: 0 auto;
}

.contact__form {
    margin-top: -20px;
} 

.contact__form input,
.contact__form textarea,
.contact__form button {
    margin: 0.3rem 0 1rem 0;
    padding: .3rem;
}

.contact__form button {
    font-size: 1.2rem;
    background-color: #32cb6c;
    color: white;
    border-color: #32cb6c;
    cursor: pointer;
}

.text__color {
    color: black;
}