.contact {
    max-width: 500px;
    margin: 0 auto;
}

.contact__form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
} 

.contact__form input,
.contact__form textarea,
.contact__form button {
    margin: 0.3rem 0 1rem 0;
    padding: .3rem;
}

.contact__form button {
    font-size: 1.2rem;
}