body{
  background-color: #4618AC !important;
  color: white !important;
}

.App {
  max-width: 900px;
  margin:0 auto;
}

.btn-color {
  background-color: hsl(122, 76%, 38%) !important;
  color: white !important;
}

